.board {
    border: 1px solid black;
    border-radius: 3rem;
    background-color: aqua;
    /* margin: 1em; */
    font-size: 6em;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.board .col {
    cursor: pointer;
}

.sea {
    height: 1em;
    width: 1em;
}

.island {
    background-color: sandybrown;
    border-radius: 2rem;
    height: 1em;
    width: 1em;
    font-weight: bolder;
}

:focus-within {
    outline: 2px solid #ff000040 !important;
}
