/*
.col {
    border: 1px red;
}
.col-auto {
    border: 1px red dashed;
}
.row {
    border: 1px green dashed;
}

:focus-within {
    outline: 2px solid #ff000040 !important;
}
*/

div {
    white-space: nowrap;
}

.rack-letter {
    font-size: 6em;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
}

.board {
    touch-action: none;
    
    /* border: 1px solid black; */
    border-radius: 50%;
    background: url("isle.jpg");
    background-size: cover;
    background-position: center;
    font-size: 6rem;
    color: white;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: 1;

    text-shadow: 3px 3px 0 #093161, 3px -3px 0 #4074b5, -3px 3px 0 #4074b5, -3px -3px 0 #4074b5, 3px 0px 0 #4074b5, 0px 3px 0 #4074b5, -3px 0px 0 #4074b5, 0px -3px 0 #4074b5;
}

.board > * {
    background: #ffffff88;
}

.board .col {
    cursor: pointer;
}

.sea {
    height: 1em;
    width: 1em;
}

.rack-letter-island {
    color: gold;
    text-shadow: 3px 3px 0 #093161, 3px -3px 0 #4074b5, -3px 3px 0 #4074b5, -3px -3px 0 #4074b5, 3px 0px 0 #4074b5, 0px 3px 0 #4074b5, -3px 0px 0 #4074b5, 0px -3px 0 #4074b5;
    font-weight: 900;
}

.island {
    /*background-color: rgba(224, 196, 170, 0.692);    
    border-radius: 100%;
     height: 1em;
    width: 1em; */
    color: gold;
    font-size: 110%;
    line-height: 90%;
    font-weight: 900;
}

.rank-future {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

.rank-current {
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
}

.rank-past {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: #00000080;
}

.score {
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
}

.globetrotter {
    color: blue;
}

.already-played {
    font-weight: 900;
    color: red;
}

.matches-prefix {
    font-weight: 500;
}

.does-not-match-prefix {
    font-weight: 300;
    color: #00000080;
}


.marker-found {
    background-color: green;
}
.marker-unfound {
    background-color: red;
}
.marker-blank {
    background-color: aliceblue;
}

.board-row-1 > .col:nth-of-type(1),
.board-row-1 > .col:nth-of-type(3)  {
    transform: translateY(33%);
}
.board-row-3 > .col:nth-of-type(1),
.board-row-3 > .col:nth-of-type(3)  {
    transform: translateY(-33%);
}

.word-list {
    column-count: auto;
    column-width: 6rem;
    display: block;
}